@{
    ViewData["Title"] = "Plukliste behandling";
}

<p>Page <span id="page">@((int)ViewData["Page"]!)</span> of <span id="pages">@(ViewData["Pages"])</span></p>

<button>Quit</button>
<button id="pluckListView_finish">Aflust</button>
<button id="pluckListView_previous">Forrige</button>
<button id="pluckListView_next">Næste</button>
<button>Genindlæs</button>
<button>Åbn print</button>
<button>Scan varer</button>

<div class="mt-3 p-2" style="border: 1px solid #888;" id="pluckListView"></div>

<script>
    $(document).ready(function () {
        let processing = false;
        $("#pluckListView_next").click(function () {
            if (processing) return;
            let page = $("#page"), index = parseInt(page.html());
            let pages = $("#pages"), index_max = parseInt(pages.html());
            if (index >= index_max) return;
            processing = true;
            $.ajax({
                url: "/Home/GetPluckList",
                type: "GET",
                data: { index: index }
            }).done(function (view) {
                page.html(index + 1);
                $("#pluckListView").html(view);
                processing = false;
            }).fail(function () {
                processing = false;
            })
        })
        $("#pluckListView_previous").click(function () {
            if (processing) return;
            let page = $("#page"), index = parseInt(page.html());
            if (index <= 1) return;
            processing = true;
            $.ajax({
                url: "/Home/GetPluckList",
                type: "GET",
                data: { index: index - 2 }
            }).done(function (view) {
                page.html(index - 1);
                $("#pluckListView").html(view);
                processing = false;
            }).fail(function () {
                processing = false;
            })
        })
        $("#pluckListView_finish").click(function () {
            if (processing) return;
            let page = $("#page"), index = parseInt(page.html());
            let pages = $("#pages"), index_max = parseInt(pages.html());
            if (index_max < 1) return;
            processing = true;
            $.ajax({
                url: "/Home/FinishPluckList",
                type: "PUT",
                data: { id: $("#pluckList_id").html(), index: index - 1 }
            }).done(function (view) {
                $("#pluckListView").html(view);
                if (index === index_max) page.html(index - 1);
                pages.html(index_max - 1);
                processing = false;
            }).fail(function () {
                processing = false;
            })
        })
        let index = parseInt($("#page").html());
        let pages = parseInt($("#pages").html());
        if (pages < 1) return;
        $.ajax({
            url: "/Home/GetPluckList",
            type: "GET",
            data: { index: index - 1 }
        }).done(function (view) {
            $("#pluckListView").html(view);
        })
    })
</script>
