@using Core.Models
<div>
    <h2>Items</h2>
    <hr/>
    
    <table style="width:100%; border-collapse: collapse;" border="1">
        <thead>
            <tr>
                <th>ProductID</th>
                <th>Title</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<BaseItem>)ViewData["Items"]!)
            {
                <tr>
                    <td>@item.ProductID</td>
                    <td>@item.Title</td>
                    <td>@item.Type</td>
                </tr>
            }
        </tbody>
    </table>
</div>
