@using Core.Models
<div>
    <h1>Items</h1>
    <hr/>
    
    <table class="table table-striped" style="width:100%; border: 1px solid #888;">
        <thead class="thead-light">
            <tr>
                <th>ProductID</th>
                <th>Title</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<BaseItem>)ViewData["Items"]!)
            {
                <tr>
                    <td>@item.ProductID</td>
                    <td>@item.Title</td>
                    <td>@item.Type</td>
                </tr>
            }
        </tbody>
    </table>
</div>
