<h1>Create PluckList</h1>
<form asp-controller="PluckLists" asp-action="CreatePluckList" method="post">
    <label class="col-2 mb-2">Name:
        <input type="text" name="name"/>
    </label><br/>
    <label class="col-2 mb-2">Shipment:
        <input type="text" name="shipment"/>
    </label><br/>
    <label class="col-2 mb-2">Address:
        <input type="text" name="address"/>
    </label><br/>
    <label class="col-2 mb-2">Items:
        <input type="text" name="items"/>
    </label><br/>
    <p>Note: Item format is &lt;product_id&gt;,&lt;amount&gt;;&lt;product_id&gt;,&lt;amount&gt;;...</p>
    <button type="submit">Submit</button>
</form>
