<h1>Create PluckList</h1>
<form asp-controller="PluckList" asp-action="CreatePluckList" method="post">
    <label>Name:
        <input type="text" name="name"/>
    </label><br/>
    <label>Shipment:
        <input type="text" name="shipment"/>
    </label><br/>
    <label>Address:
        <input type="text" name="address"/>
    </label><br/>
    <label>Items:
        <input type="text" name="items"/>
    </label><br/>
    <button type="submit">Submit</button>
</form>
